.projectSection {
  background: rgb(0,123,255);
}

.sectionTitle {
  color: rgb(255, 255, 255);
  font-size: 5rem;
  padding-top: 5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .sectionTitle {
    padding-top: 2.5rem;
    font-size: 3rem;
  }
}