@import "../SASS/variables";

// &-hiden {
//   width: 100vw;
//   background-color: $main-orange;
//   position: fixed;
//   top: -10rem;
//   transition: top 0.3s;
//   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
// }

.Navbar {
  width: 100vw;
  position: fixed;
  z-index: 2;
  transition: top 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  &--light {
    background-color: $pure-white;
  }

  &--dark {
    background-color: $tiber;
  }

  &__List {
    font-family: "Poppins", sans-serif;
    height: 5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__Logo {
      font-size: 2rem;
      flex-grow: 1;
      font-weight: bold;

      &--light {
        color: $neon-blue;
      }

      &--dark {
        color: $deep-sky-blue;
      }
    }
  }
}

.Navbar__List__Toggle {
  display: none;
  &--light {
    color: $neon-blue;
  }
  &--dark {
    color: $deep-sky-blue;
  }
}

@media screen and (max-width: 768px) {
  .Navbar__List__Toggle {
    display: block;
    order: 1;
  }
  .Navbar__List__Logo {
    padding-left: 2rem;
    order: 2;
  }
}
