@import "../Shared/SASS/variables";

.BackToTopContainer {
  position: fixed;
  z-index: 2;
  bottom: 10rem;
  right: 6rem;
  transition: opacity 0.3s;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.3);
  &--light {
    color: $neon-blue;
    background-color: $pure-white;
  }
  &--dark {
    color: $pure-white;
    background-color: $deep-sky-blue;
  }
}
.Visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .BackToTopContainer {
    bottom: 3rem;
    right: 3rem;
  }
}
