.BackToTopContainer {
  position: fixed;
  bottom: 10rem;
  color: #eb550a;
  right: 6rem;
  transition: opacity 0.3s;
  border: 1px solid red;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0.4rem rgba(0, 0, 0, 0.3);
}
.BackToTopContainer.Visible {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .BackToTopContainer {
    bottom: 3rem;
    right: 3rem;
  }
}
