// Colors named using: https://www.color-blindness.com/color-name-hue/

// Shared
$pure-white: #fff;
$main-orange: #eb550a;
$dodger-blue: #067eed;
$pattens-blue: #f6f9fc;
$nero: #151515;
$alizarin: #ed2439;

// Light mode
$cyprus: #0e3854;
$neon-blue: #3b63ff;

// Dark mode only
$lavender-blue: #c1e6ff;
$deep-sky-blue: #1cc6f4;
$tiber: #13233e;
$dark-green: #000625;
